
.corpo {
    background-color: #14385C;
    width: 100vw;  
}

.triangulos{

    background-image: url('../img/triangulos.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: -50px 540px;
}

/* ------------- Header ------------- */

.faixaDoLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: white;
}

.logo-cursinho {
    background-image: url('../img/logo.png');
    width: 150px;
    height: 150px;
    background-size: cover;
}

.botaoHeader {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 5px 5px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: auto;
    margin-bottom: auto;
    width: 110px;
    color: #14385C;
    flex-direction: row;
    outline: none;
}

.manualHeader {
    width: 110px;
}

.botaoHeader:hover {
    cursor: pointer;
    background-color: #F2F2F2;
    outline: none;
}

/* -------------------------------------- */


/* ------------- Genéricos ------------- */

.boldLine {
    display: flex;
    margin-top: auto;
    background-color: #FD7C11;
    height: 5px;
    width: auto;
    margin-bottom: 0px;
}

.fineLineLaranja {
    display: flex;
    margin: auto;
    background-color: #FD7C11;
    height: 1px;
    width: 50vw;
    margin: 85px auto 85px auto;
}

.fineLineFundo {
    display: flex;
    margin: auto;
    background-color: #FD7C11;
    height: 5px;
    margin: 55px auto 55px auto;
    margin-bottom: 0px;
}

.seção {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {    
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
    font-size: larger;
    color: white;
}

.tituloProjetos {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
    font-size: larger;
    color: #FD7C11;
}

/* -------------------------------------- */


/* ------------- SVGS ------------- */

.svg {
    width: 300px;
    height: 200px;
    background-size: cover;
}

#comoFunc {
    background-image: url('../img/wfh_9.svg');
    margin-top: 40px;
}

#vemComAGente {
    background-image: url('../img/wfh_1.svg');
}

#atena_demonstrando {
    background-image: url('../img/atena_demonstrando.png');
    margin-top: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

#quemSomos{
    background-image: url('../img/atena-cpe-branca.png');
    margin-top: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* -------------------------------------- */





/* ------------- PARCEIROS ------------- */

#apoio {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}


.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parceiro {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 0px 10px 0px;
}

#anglo {
    max-width: 180px;
    max-height: 180px;
}

.doisUltimos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#letrus {
    width: 190px;
    height: 109px;
}

/* -------------------------------------- */

.faleComAGente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faleComAGente {
    color: white;
    font-weight: bold;
}

.comoFunc {
    display: flex;
    flex-direction: column-reverse;
}

.quemSomos {
    display: flex;
    flex-direction: column;
}

/* ------------- Fale Conosco ------------- */

.fineLine {
    display: flex;
    margin: auto;
    background-color: white;
    height: 1px;
    width: 50vw;
    margin: 85px auto 85px auto;
}

.logoBranco {
    background-image: url('../img/logobranco.PNG');
    background-size: cover;
    width: 200px;
    height: 200px;
}

.redesSociais {
    display: flex;
    justify-content: space-around;
}

.ícone {
    margin: 0px 10px 30px 10px;
    max-width: 50px;
    max-height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.faleComAGente p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: 3px;
}

.final {
    height: 30px;
    width: 100vw;
}
/* ------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.ps h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 30px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 25px;
}

.ps {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.titulo h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 25px;
}

.titulo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.titulo h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 5px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 30px;
}

.subtitulo {
    text-align: center;
    color: white;
    padding-top: 60px;
}

/* ------------- BOTÕES ------------- */
.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botoesDoeAgora {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botaoL {
    background-color: #FD7C11;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 205px;
    color: white;
    flex-direction: row;
}

.botaoA {
    background-color: #427ABD;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 205px;
    color: white;
    flex-direction: row;
}

.botaoDoeAgora {
    background-color: #FD7C11;
    border: none;
    border-radius: 15px;
    padding: 20px 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    width: 300px;
    height: 80px;
    color: white;
    outline: none;
}

.botoes .icones {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.botoes .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px;
}

.manual {
    width: 205px;
}

.botaoA:hover {
    cursor: pointer;
    background-color: #2761A7;
    outline: none;
}

.botaoL:hover {
    cursor: pointer;
    background-color: rgb(228, 107, 8);
    outline: none;
}

.botaoDoeAgora:hover {
    cursor: pointer;
    background-color: rgb(228, 107, 8);
    outline: none;
}


/* ---------------------------------- */

@media (min-width: 768px) {

    .manual {
        width: 235px;
    }

    .doisUltimos {
        flex-direction: row;
    }

    #letrus {
        margin-right: 40px;
    }

    .botoes .icones {
        width: 150px;
        height: 150px;
    }

    .botoes {
        flex-direction: row;
    }

    .parceiros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0px 500px 0px 500px;
    }

    #recuo {
        margin-top: 60px;
    }

    .seção {
        flex-direction: row;
    }

    .ps {
        font-size: 25px;
    }
    .ps h1 {
        font-size: 40px;
    }
    
    .apoio {
        font-size: 40px;
    }
    
    .svg {
        width: 400px;
        height: 340px;
        background-size: cover;
    }
    
    .ps {
        font-size: 30px;
    }
    
    .texto {
        width: 40vw;
    }

    .textoDoacao {
        width: 40vw;
    }
    
    #quemSomos {
        margin-top: 0px;
    }
}

    .h-foto h1 {
        font-family: Ubuntu, sans-serif;
        text-align: center;
        color: white;
        padding-top: 30px;
        font-weight: bolder;
        font-size: 25px;
    }

    .h-foto {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .t-fotoE{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .t-fotoE h1 {
        font-family: Ubuntu, sans-serif;
        text-align: center;
        color: white;
        padding-top: 30px;
        font-weight: bolder;
        font-size: 25px;
    }

    .fotoAlunos{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/alunos.jpeg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 550px;
        width: 100vw;
    }

    .fotoHorários{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/horarios.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 350px;
        width: 100vw;
        margin-bottom: 10px;
    }

    .fotoEquipe{
        background-image: url('..//img/equipe.jpeg');
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 550px;
        width: 100vw;
    }

    .fotoAlunosP{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/IMG_6208.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 350px;
        width: 100vw;
        margin-bottom: 10px;
    }

    .fotoProjetos{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/projetos.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 350px;
        width: 100vw;
        margin-bottom: 10px;
    }

    .fotoDoacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/IMG_6215.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 350px;
        width: 100vw;
        margin-bottom: 10px;
    }

    .listaFunciona {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .listaItem{
        margin-top: 10px;
    }

    @media (min-width: 1024px) {
    }

    .percent-count{
        width: 450px;
        height: 50px;
        margin: 100px auto;
        font-size: 50px;
        text-align: center;
        color: #fff;
    }

    .progress-bar{
        width: 506px;
        height: 26px;
        background-color: white;
        border-radius: 13px;
        padding: 3px;
        margin: 50px auto;
    }

    .progress{
        width: 500px; /* muda o tamanho da barra */
        height: 20px;
        border-radius: 10px;
        background-color: #FD7C11;
    }

    #dvslider{
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
    }

    .btSlider{
        background-color: rgba(20,56,92,0.4);
        height: 30%;
        color: #fff;
        cursor: pointer;
        outline: none; /* some com a borda quando clicar no botão */
        margin: 10px;
        border: none;
    }

    #dvload{
        width: 95%;
        height: 5px;
        margin-top: 25%;
        border: 1px solid rgba(255,255,255,0.3);
    }

    #dvbarra{
        width: 0%;
        height: 100%;
        background-color: #fff;
    }
