.corpo {
    background-color: #14385C;
    width: 100vw;
}

/* ------------- Header ------------- */

.faixaDoLogo {
    display: flex;
    justify-content: center;
    height: 350px;
    background-color: white;
}

.logo-cursinho {
    background-image: url('../img/logo.PNG');
    width: 300px;
    height: 300px;
    background-size: cover;
}

/* -------------------------------------- */


/* ------------- Genéricos ------------- */
.seção {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;

    font-size: larger;
    color: white;
}

/* -------------------------------------- */




/* ------------- SVGS ------------- */

.svg {
    width: 300px;
    height: 200px;
    background-size: cover;
}


#quemSomos {
    background-image: url('../img/wfh_9.svg');
    margin-top: 40px;
}

#vemComAGente {
    background-image: url('../img/wfh_1.svg');
}
/* -------------------------------------- */





/* ------------- PARCEIROS ------------- */

#apoio {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}


.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parceiro {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 0px 10px 0px;
}

#anglo {
    max-width: 180px;
    max-height: 180px;
}

/* -------------------------------------- */


.faleComAGente {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.faleComAGente p {
    color: white;
    font-weight: bold;
}




.quemSomos {
    display: flex;
    flex-direction: column-reverse;
}



/* ------------- Fale Conosco ------------- */

.fineLine {
    display: flex;
    margin: auto;
    background-color: white;
    height: 1px;
    width: 50vw;
    margin: 100px auto 100px auto;
}

.logoBranco {
    background-image: url('../img/logobranco.PNG');
    background-size: cover;
    width: 300px;
    height: 300px;
}

.redesSociais {
    display: flex;
    justify-content: space-around;
}

.ícone {
    margin: 0px 10px 30px 10px;
    max-width: 50px;
    max-height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.faleComAGente p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: 3px;
}

.final {
    height: 30px;
    width: 100vw;
}
/* ------------------------------------------ */




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.ps h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 30px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 25px;
}

.ps {
    display: flex;
    justify-content: center;
}

.subtitulo {
    text-align: center;
    color: white;
    padding-top: 60px;
}



/* ------------- BOTÕES ------------- */
.botoes {
    display: flex;
    /* background-color: red; */
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* margin-top: 40px; */
}

.botao {
    background-color: #FD7C11;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    /* text-decoration-color: #14385C; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    color: white;
}

.manual {
    width: 235px;
}

.botao:hover {
    cursor: pointer;
    background-color: rgb(228, 107, 8);
}
/* ---------------------------------- */



@media (min-width: 768px) {


    .parceiros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0px 450px 0px 450px;
    }

    #recuo {
        margin-top: 0px;
    }

    .seção {
        flex-direction: row;
    }

    .ps {
        font-size: 25px;
    }
}

@media (min-width: 1024px) {

    .ps h1 {
        font-size: 40px;
    }

    .apoio {
        font-size: 40px;
    }

    .svg {
        width: 400px;
        height: 400px;
        background-size: cover;
    }

    .ps {
        font-size: 30px;
    }

    .texto {
        width: 40vw;
    }

    #quemSomos {
        margin-top: 0px;
    }
}
