
.corpo {
    background-color: #14385C;
    width: 100vw;  
}

/* ------------- Header ------------- */

.faixaDoLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #14385C;
}

.logo-cursinho {
    background-image: url('../img/logobranco.png');
    width: 150px;
    height: 150px;
    background-size: cover;
}
/* -------------------------------------- */


/* ------------- Genéricos ------------- */


.seção {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto {    
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    color: white;
    background-color: rgba(20, 56, 92, 0.8);
    border-radius: 10px;
}

.textoRodape{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    color: white;
}


/* -------------------------------------- */


/* ------------- PARCEIROS ------------- */

#apoio {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
}

.parceiros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parceiro {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 0px 10px 0px;
}

#anglo {
    max-width: 180px;
    max-height: 180px;
}

.doisUltimos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#letrus {
    width: 190px;
    height: 109px;
}

/* -------------------------------------- */

.faleComAGente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faleComAGente {
    color: white;
    font-weight: bold;
}

.comoFunc {
    display: flex;
    flex-direction: column-reverse;
}

.quemSomos {
    display: flex;
    flex-direction: column;
}

/* ------------- Fale Conosco ------------- */

.redesSociais {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.ícone {
    margin: 0px 10px 30px 10px;
    max-width: 40px;
    max-height: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.faleComAGente p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 30;
    letter-spacing: 3px;
}

.final {
    height: 30px;
    width: 100vw;
}
/* ------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.ps h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 30px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 25px;
}

.titulo h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 25px;
}

.titulo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.titulo h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    padding-top: 5px;
    border-bottom: solid 5px #FD7C11;
    font-weight: bolder;
    font-size: 30px;
}


/* ------------- BOTÕES ------------- */
.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
}

.botaoDoeAgora {
    background-color: #FD7C11;
    border: none;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    width: 300px;
    height: 80px;
    color: white;
    outline: none;
}

.botoes .icones {
    width: 100px;
    height: 100px;
    margin-top: 0px;
    outline: none;
}

.botoes .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px;
    outline: none;
}

.manual {
    width: 205px;
    outline: none;
}

.botaoDoeAgora:hover {
    cursor: pointer;
    background-color: rgb(228, 107, 8);
    outline: none;
}


/* ---------------------------------- */

@media (min-width: 768px) {

    .manual {
        width: 235px;
    }

    .doisUltimos {
        flex-direction: row;
    }

    #letrus {
        margin-right: 40px;
    }

    .botoes .icones {
        width: 150px;
        height: 150px;
    }

    .botoes {
        flex-direction: row;
    }

    .parceiros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0px 500px 0px 500px;
    }

    #recuo {
        margin-top: 15px;
    }

    .seção {
        flex-direction: row;
    }

    .ps {
        font-size: 25px;
    }
    .ps h1 {
        font-size: 40px;
    }
    
    .apoio {
        font-size: 40px;
    }
    
    .svg {
        width: 400px;
        height: 340px;
        background-size: cover;
    }
    
    .ps {
        font-size: 30px;
    }
    
    .texto {
        width: 40vw;
    }

    .textoDoacao {
        width: 40vw;
    }
    
    #quemSomos {
        margin-top: 0px;
    }
}

    .h-foto h1 {
        font-family: Ubuntu, sans-serif;
        text-align: center;
        color: white;
        padding-top: 30px;
        font-weight: bolder;
        font-size: 25px;
    }

    .h-foto {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    /* ----------Imagens de fundo------------- */

    .s1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/s1.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;
    }

    .s2{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/s2.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;

    }

    .s3{
        background-image: url('..//img/s3.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;
    }

    .s4{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/s4.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;

    }

    .s5{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/s5.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;

    }

    .s6{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/s6.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;

    }

    .s7{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('..//img/s7.jpg');
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        height: 700px;
        width: 100vw;
        margin-top: 0px;

    }

    /* ----------------------------------- */

    .listaFunciona {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .listaItem{
        margin-top: 10px;
    }

    @media (min-width: 1024px) {
    }

    /* ----------Barra de Progresso------------- */

    .percent-count{
        width: 450px;
        height: 50px;
        margin: 100px auto;
        font-size: 50px;
        text-align: center;
        color: #fff;
    }

    .progress-bar{
        width: 506px;
        height: 26px;
        background-color: white;
        border-radius: 13px;
        padding: 3px;
        margin: 50px auto;
    }

    .progress{
        width: 500px; /* muda o tamanho da barra */
        height: 20px;
        border-radius: 10px;
        background-color: #FD7C11;
    }



/* ------------Elementos que permitem a animação-------------- */

.slides-list{
    /*remove os estilos da lista */
    list-style-type: none;
    width: 400%;
    --total-items: 7;
    width: calc(var(--total-items)*100%);
    margin: 10px 0;
    padding: 0;
    /*deixa todos os itens da lista na horizontal e todos com a mesma largura */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    position: relative;
    left: 0%;
    --selected-item: 0;
    left: calc(var(--selected-item)* -100%);
    transition: left 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550)
}

.slide-show{
    overflow: hidden;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{
    --selected-item: 0;
}

.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{
    --selected-item: 1;
}

.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{
    --selected-item: 2;
}

.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{
    --selected-item: 3;
}

.slide-controller:nth-child(5):checked ~ .slide-show .slides-list{
    --selected-item: 4;
}

.slide-controller:nth-child(6):checked ~ .slide-show .slides-list{
    --selected-item: 5;
}

.slide-controller:nth-child(7):checked ~ .slide-show .slides-list{
    --selected-item: 6;
}

#dvslider{
    width: 100%;
    height: 700px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btSlider{
    background-color: rgba(20, 56, 92, 0.8);
    height: 30%;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 10px;
    border: none;
}

#dvload{
    width: 100%;
    height: 5px;
    margin-top: 25%;
    border: 1px solid rgba(255,255,255,0.3);
}

#dvbarra{
    width: 0%;
    height: 100%;
    background-color: #fff;
}
