/* paleta de cores 
laranja -  #ef7b20
azul escuro - #12385b
azul médio - #3676bb
azul claro - #72a4d6
*/

/* cores complementares
rosa - #dc74a1
azul - #3b668c

amarelo - #fdc41c
coral - #ee7153
*/


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    
    /* logo mobile */
    .logo {
        content: url("../img/Logotipo/prioritario.png");
        width: auto;
        height: 80px;
    }

    .masthead {
        background-position: center;
        /* height: 450px; */
    }

    .masthead h1 {
        /* font-size: 25px !important; */
    }

    #background {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
    }


    /* desativação do botão Doe Agora no Mobile */
    .btn-outline-primary {
        margin-top: -17px;
        border: none;
        color: black;
    }

    .dropdown-item {
        font-size: 13px;
        font-weight: bold;
        color: gray;
    }

    .dropdown-item:active {
        background-color:#3b668c;
    }


    /* footer {
        background-color: #12385b;
    } */


}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
   

    /*  
     ************************ CSS DO HEADER ************************
     */

    /* logo desktop */
    .logo {
    content: url("../img/Logotipo/negativo.png");
    transition: transform .2s;
    }
    .logo:hover {
        transform: scale(1.1);
    }

    /* correção do wallpaper */
    .masthead {
        background-position-y: -345px !important;
        background-position: center;
        /* height: 550px; */
    }

    /* botão doe agora */
    .doeAgora {
        border: solid 1px #ef7b20;
        color:  #ef7b20;
        padding: 5px 20px 5px 20px;
        border-radius: 10px;
        transition: 0.3s;
    }
    .doeAgora:hover {
        background-color:  #ef7b20;
        color: white;
        font-size: larger; 
    }

    /************************* FIM DO CSS DO HEADER *************************/




    .estudeConosco {
        text-align: center;
        color: #12385b;
    }


    #porqueEscolher {
        margin-top: 100px;
        /* background-color: #ef7b20; */
    }

    footer {
        padding: 20px 0px 20px 0px;
    }
 
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }