/* paleta de cores 
laranja -  #ef7b20
azul escuro - #12385b
azul médio - #3676bb
azul claro - #72a4d6
*/

/* cores complementares
rosa - #dc74a1
azul - #3b668c

amarelo - #fdc41c
coral - #ee7153
*/


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    

    /* logo mobile */
    .logo {
        content: url("../img/Logotipo/prioritario.png");
        width: auto;
        height: 80px;
    }

    .masthead {
        background-position: center;
        /* height: 450px; */
    }

    .masthead h1 {
        font-size: 38px !important;  
        /* desktop font-size: 80px */
    }

    .site-heading {
        /* background-color: #12385b !important; */
        /* padding: 300px 0px 20px 0px !important; */
        justify-content: ;
    }


    /* desativação do botão Doe Agora no Mobile */
    .btn-outline-primary {
        margin-top: -17px;
        border: none;
        color: black;
    }

    .dropdown-item {
        font-size: 13px;
        font-weight: bold;
        color: gray;
    }

    .dropdown-item:active {
        background-color:#3b668c;
    }


    /* footer {
        background-color: #12385b;
    } */


}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
   

    /*  
     ************************ CSS DO HEADER ************************
     */

    /* logo desktop */
    .logo {
    content: url("../img/Logotipo/negativo.png");
    transition: transform .2s;
    }
    .logo:hover {
        transform: scale(1.1);
    }

    /* correção do wallpaper */
    .masthead {
        background-position-y: -345px !important;
        background-position: center;
        /* height: 550px; */
    }

    .masthead #cpe {
        font-size: 80px !important;
        /* background-color: aqua; */
        width: 1220px;
    }

    /* botão doe agora */
    .doeAgora {
        border: solid 1px #ef7b20;
        color:  #ef7b20;
        padding: 5px 20px 5px 20px;
        border-radius: 10px;
        transition: 0.3s;
    }
    .doeAgora:hover {
        background-color:  #ef7b20;
        color: white;
        font-size: larger; 
    }
    /************************* FIM DO CSS DO HEADER *************************/







    
    .estudeConosco {
        text-align: center;
        color: #12385b;
    }


    #porqueEscolher {
        margin-top: 100px;
        /* background-color: #ef7b20; */
    }

    footer {
        padding: 20px 0px 20px 0px;
    }
 
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.corpo {
    background-color: #14385C;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif; 
}

.triangulosFundo{
    background-image: url('../img/triangulosFundo.png');
    background-size: 300px;

}

/* ------------- Header ------------- */

.faixaDoLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: white;
}

.logo-cursinho {
    background-image: url('../img/logo.png');
    width: 150px;
    height: 150px;
    background-size: cover;
}

/* -------------------------------------- */


/* ------------- Genéricos ------------- */

.linha {
    display: flex;
    margin: auto;
    background-color: #FD7C11;
    height: 3px;
    width: 50vw;
    margin-bottom: 50px;
    margin-top: 50px;
}

.seçãoRow, .seção {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragrafo {    
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    color: white;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 0px;
}

.textoEquipes{    
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 30px 10px;
    font-size: larger;
    color: white;
    width: 500px;
    width: 60%;
}


/* -------------------------------------- */


/* ------------- SVGS ------------- */

.svg {
    width: 300px;
    height: 200px;
    background-size: cover;
}

#CMKT, #GP, #InovaTec, #JurFin, #PED, #Projetos{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

#CMKT{
    background-image: url('../img/FaçaParte/CMKT.png');
}

#GP{
    background-image: url('../img/FaçaParte/GP.png');
}

#InovaTec{
    background-image: url('../img/FaçaParte/InovaTec.png');
}

#JurFin{
    background-image: url('../img/FaçaParte/JurFin.png');
}

#PED{
    background-image: url('../img/FaçaParte/PED.png');
}

#Projetos{
    background-image: url('../img/FaçaParte/Projetos.png');}

#AreaDoAluno{
    background-image: url('../img/FaçaParte/areaDoAluno.png');
    margin-top: 40px;
    margin-bottom: 0px;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

/* -------------------------------------- */

.final {
    height: 30px;
    width: 100vw;
}
/* ------------------------------------------ */

.titulo-principal{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 36px;
    margin: 40px;
}

.subtitulo{
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    margin: 50px;
    padding: 12px;
    border: 2.5px solid #FD7C11;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.titulo-equipes{
    padding-top: 20px;
    font-weight: bolder;
    font-size: 30px;
}

/* ------------- BOTÕES ------------- */

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botoesAluno {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botao {
    background-color: #FD7C11;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    height: 70px;
    color: #14385C;
}

.botaoAnos {
    background-color: #FD7C11;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 24px;
    width: 300px;
    height: 65px;
    color: #14385C;
}

.botoes .icones {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.botoesAluno .icones {
    width: 100px;
    height: 100px;
    margin-top: 15px;
}

.botoes .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px;
}

.botoesAluno .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 20px 30px;
}

.manual {
    width: 400px;
}

.manualAnos{
    width: 100px;
    height: 50px;
}

.botao:hover {
    cursor: pointer;
    background-color: rgb(228, 107, 8);
}

.botaoAnos:hover {
    cursor: pointer;
    background-color: rgb(228, 107, 8);
}


/* ---------------------------------- */

@media (min-width: 768px) {

    .manual {
        width: 400px;
    }

    .botoes .icones {
        width: 150px;
        height: 150px;
    }

    .botoes {
        flex-direction: row;
    }

    #recuo {
        margin-top: 60px;
    }

    .seçãoRow {
        flex-direction: row;
    }

    .seção {
        flex-direction: column;
    }

    
    .svg {
        width: 400px;
        height: 340px;
        background-size: cover;
    }
    
    .texto {
        width: 40vw;
    }
    
}


    @media (min-width: 1024px) {
    }

