.corpoAzul {
    background-color: #14385C;
    width: 100vw;  
    height: flex;
}

.corpoRosa {
    background-color: #DC74A1;
    width: 100vw; 
    height: flex; 
}

.corpoLaranja {
    background-color: #FD7C11;
    width: 100vw; 
    height: flex;
}

.logo-cursinho{
    background-image: url('../img/logobranco.PNG');
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-bottom: 50px;
}

.MostraDeProfissoes{
    background-image: url('../img/MostraDeProfissoes.png');
    width: 400px;
    height: 400px;
    background-size: cover;
}

.line {
    display: flex;
    margin: auto;
    background-color: white;
    height: 10px;
    width: flex;  
    margin-bottom: 30px;  
}

.final {
    height: 100px;
}

/* -------------------------------------- */


/* ------------- Genéricos ------------- */

.seçãoRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seção {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.textoNegrito{
    font-family: Ubuntu, 'Open Sans', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: larger;
    color: white;
    font-style: bolder;
    font-weight: bolder;
    font-size: 18px;
    width: 200px;
    margin-top: 40px;
}

/* -------------------------------------- */

/* ------------- SVGS ------------- */

.svg {
    width: 300px;
    height: 200px;
    background-size: cover;
}

/* ------------------------------------------ */

/* ------------- BOTÕES ------------- */

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.botaoLinkAzul {
    background-color: #14385C;
    border-color: #FD7C11;
    color: #FD7C11;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    border: none;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 17px;
    width: 3px;
    height: 27px;
    font-weight: lighter;
    margin-bottom: 30px;

}

.botaoLinkLaranja {
    background-color: #FD7C11;
    border-color: #14385C;
    color: #14385C;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    border: none;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;

    text-align: center;
    font-size: 17px;
    width: 3px;
    height: 27px;
    font-weight: lighter;


    margin-bottom: 30px;
}

.botaoLinkAzulDossie {
    background-color: #14385C;
    border-color: #FD7C11;
    color: #FD7C11;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    border: none;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
    width: 3px;
    height: 27px;
    font-weight: lighter;
    margin-left: 100px;
    margin-top: 0px;
}

.botaoLinkLaranjaDossie {
    background-color: #FD7C11;
    border-color: #14385C;
    color: #14385C;
    font-family: Ubuntu, 'Open Sans', sans-serif;
    border: none;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
    width: 3px;
    height: 27px;
    font-weight: lighter;
    background-position-x: left;
}

.botoes .icones {
    width: 100px;
}

.botoes .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.manual {
    width: 400px;
}

.manualLink{
    width: 100px;
    height: flex;
    flex-direction: center;
}

.botaoLinkAzul:hover {
    cursor: pointer;
    background-color: rgb(12, 37, 62);
}

.botaoLinkAzulDossie:hover {
    cursor: pointer;
    background-color: rgb(12, 37, 62);
}

.botaoLinkLaranjaDossie:hover {
    cursor: pointer;
    background-color: rgb(218, 98, 0);
}

.botaoLinkLaranja:hover {
    cursor: pointer;
    background-color: rgb(218, 98, 0);
}

/* ---------------------------------- */

@media (min-width: 768px) {

    .manual {
        width: 400px;
    }

    .doisUltimos {
        flex-direction: row;
    }

    .botoes .icones {
        width: 150px;
        height: 150px;
    }

    .botoes {
        flex-direction: row;
    }

    #recuo {
        margin-top: 60px;
    }


    .seçãoRow {
        flex-direction: column;
    }

    .seção {
        flex-direction: column;
    }

    .ps {
        font-size: 25px;
    }
    .ps h1 {
        font-size: 40px;
    }
    
    .apoio {
        font-size: 40px;
    }
    
    .svg {
        width: 400px;
        height: 340px;
        background-size: cover;
    }
    
    .ps {
        font-size: 30px;
    }
    
    .texto {
        width: 40vw;
    }
    
    #quemSomos {
        margin-top: 0px;
    }

    .tituloPrincipal{
        width: 40vw;
    }
}

    @media (min-width: 1024px) {

        .dossie22{
            width: 100%;
        }
        
        .dossie29{
            width: 100%;
        }

        .seçãoRow {
            flex-direction: row;
        }
    
        .seção {
            flex-direction: column;
        }
    
        .ps {
            font-size: 25px;
        }
        .ps h1 {
            font-size: 40px;
        }
        
        .apoio {
            font-size: 40px;
        }
        
        .svg {
            width: 400px;
            height: 340px;
            background-size: cover;
        }
        
    }

    .posicao{
        flex-direction: row;
    }

    /* --------------------------------- */

  .tituloBranco {    
    font-family: Ubuntu, 'Open Sans', sans-serif;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 10px;
        font-size: 45px;
        color: #FFFFFF;
        font-weight: bolder;
        padding-top: 50px;
    }

    .tituloAzul {    
        font-family: Ubuntu, 'Open Sans', sans-serif;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 10px;
        font-size: 45px;
        color: #14385C;
        font-weight: bolder;
        padding-top: 50px;
    }

    @font-face{
        font-family: "League Spartan";
        src: url("..//leaguespartan-bold-webfont.woff");
    }

  .tituloPrincipal{    
        font-family: Ubuntu, 'League Spartan';
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
        color: #14385C;
        font-weight: bolder;
        padding-bottom: 100px;
        width: 700px;
        letter-spacing: -4px;
        padding-top: 200x;
  }

    .tituloLaranja {    
        font-family: Ubuntu, 'Open Sans', sans-serif;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 10px;
        font-size: 45px;
        color: #FD7C11;
        font-weight: bolder;
        padding-top: 50px;
    }

/* ------------- ICONES ------------- */

.dossie22{
    background-image: url('..//img/Profissoes/Dossie22.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 780px;
    width: 100vw;
}

.ícone {
    max-width: 100vw;
    max-height: 780px;
    z-index:999;
}

.dossie29{
    background-image: url('..//img/Profissoes/Dossie29.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 780px;
    width: 100vw;
}

#ArqUrb{
    background-image: url('../img/Profissoes/ArqUrb.png');
    height: 91.1059px;
    width: 184.052px;
    background-repeat: no-repeat;
    background-position: center;
    
}

#ArtesVisuais{
    background-image: url('../img/Profissoes/ArtesVisuais.png');
    height: 123.253px;
    width: 121.25px;
    background-repeat: no-repeat;
    background-position: center;
}

#Astronomia{
    background-image: url('../img/Profissoes/Astronomia.png');
    height: 117.37px;
    width: 121.469px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 7px;
}

#Jornalismo{
    background-image: url('../img/Profissoes/Jornalismo.png');
    height: 117.525px;
    width: 97.3987px;
    background-repeat: no-repeat;
    background-position: center;
}

#Marketing{
    background-image: url('../img/Profissoes/Marketing.png');
    height: 89.4451px;
    width: 136.297px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 27px;
}

#TM{
    background-image: url('../img/Profissoes/TM.png');
    height: 118.361px;
    width: 106.673px;
    background-repeat: no-repeat;
    background-position: center;
}

#GA{
    background-image: url('../img/Profissoes/GA.png');
    height: 118.991px;
    width: 118.991px;
    background-repeat: no-repeat;
    background-position: center;
}

#LZT{
    background-image: url('../img/Profissoes/LZT.png');
    height: 118.991px;
    width: 118.545px;
    background-repeat: no-repeat;
    background-position: center;
}

#Veterinaria{
    background-image: url('../img/Profissoes/Veterinaria.png');
    margin-bottom: -10px;
    height: 130.192px;
    width: 121.567px;
    background-repeat: no-repeat;
    background-position: center;
}

#Enfermagem{
    background-image: url('../img/Profissoes/Enfermagem.png');

    height: 120.2px;
    width: 120.2px;
    background-repeat: no-repeat;
    background-position: center;
}

#Odontologia{
    background-image: url('../img/Profissoes/Odontologia.png');

    height: 120.2px;
    width: 120.2px;
    background-repeat: no-repeat;
    background-position: center;
}

#RI{
    background-image: url('../img/Profissoes/RI.png');
    height: 123.366px;
    width: 123.366px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -23px;
}

#RP{
    background-image: url('../img/Profissoes/RP.png');
    height: 119.961px;
    width: 119.961px;
    background-repeat: no-repeat;
    background-position: center;
}

#PP{
    background-image: url('../img/Profissoes/PP.png');
    height: 119.961px;
    width: 119.961px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -22px;
}

#GPP{
    background-image: url('../img/Profissoes/GPP.png');
    margin-bottom: -17px;
    height: 119.961px;
    width: 119.961px;
    background-repeat: no-repeat;
    background-position: center;
}

#Biotec{
    background-image: url('../img/Profissoes/Biotec.png');
    margin-bottom: 10px;
    height: 119.743px;
    width: 118.743px;
    background-repeat: no-repeat;
    background-position: center;
}

#Psico{
    background-image: url('../img/Profissoes/Psico.png');

    height: 135.175px;
    width: 120.981px;
    background-repeat: no-repeat;
    background-position: center;
}

#ENGFE{
    background-image: url('../img/Profissoes/ENGFE.png');
    margin-bottom: -5px;
    height: 120.506px;
    width: 85.8605px;
    background-repeat: no-repeat;
    background-position: center;
}

#Fono{
    background-image: url('../img/Profissoes/Fono.png');
    margin-bottom: 20px;
    height: 124.053px;
    width: 118.16px;
    background-repeat: no-repeat;
    background-position: center;
}


#CC{
    background-image: url('../img/Profissoes/CC.png');
    margin-bottom: 30px;
    height: 116.743px;
    width: 98.502px;
    background-repeat: no-repeat;
    background-position: center;
}

#Direito{
    background-image: url('../img/Profissoes/Direito.png');
    
    height: 118.887px;
    width: 118.887px;
    background-repeat: no-repeat;
    background-position: center;
}

#ENGQPQQ{
    background-image: url('../img/Profissoes/ENGQPQQ.png');
    margin-bottom: -25px;
    height: 90.6861px;
    width: 90.6861px;
    background-repeat: no-repeat;
    background-position: center;
}

#Fisica{
    background-image: url('../img/Profissoes/Fisica.png');
    margin-bottom: 5px;
    height: 116.77px;
    width: 122.113px;
    background-repeat: no-repeat;
    background-position: center;
}

#Audiovisual{
    background-image: url('../img/Profissoes/Audiovisual.png');

    height: 128.34px;
    width: 118.394px;
    background-repeat: no-repeat;
    background-position: center;
}

#Biomedicina{
    background-image: url('../img/Profissoes/Biomedicina.png');

    height: 118.584px;
    width: 118.584px;
    background-repeat: no-repeat;
    background-position: center;
}

#Design{
    background-image: url('../img/Profissoes/Design.png');
    margin-bottom: 30px;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

#ENGCA{
    background-image: url('../img/Profissoes/ENGCA.png');

    height: 109.301px;
    width: 109.301px;
    background-repeat: no-repeat;
    background-position: center;
}

#EP{
    background-image: url('../img/Profissoes/EP.png');

    height: 121.863px;
    width: 121.863px;
    background-repeat: no-repeat;
    background-position: center;
}

#Nutricao{
    background-image: url('../img/Profissoes/Nutricao.png');
    margin-bottom: 27px;
    height: 97.5726px;
    width: 119.538px;
    background-repeat: no-repeat;
    background-position: center;
}

#Letras{
    background-image: url('../img/Profissoes/Letras.png');
    margin-bottom: 5px;
    height: 109.026px;
    width: 81.7697px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

#FB{
    background-image: url('../img/Profissoes/FB.png');

    height: 100.13px;
    width: 100.13px;
    background-repeat: no-repeat;
    background-position: center;
}


#Filosofia{
    background-image: url('../img/Profissoes/Filosofia.png');

    height: 110.6px;
    width: 110.6px;
    background-repeat: no-repeat;
    background-position: center;
}

#Psicologia{
    background-image: url('../img/Profissoes/Psicologia.png');

    height: 114.919px;
    width: 90.6422px;
    background-repeat: no-repeat;
    background-position: center;
}

#ADM{
    background-image: url('../img/Profissoes/ADM.png');
    margin-bottom: 10px;
    height: 108.682px;
    width: 108.682px;
    background-repeat: no-repeat;
    background-position: center;
}

#EDFS{
    background-image: url('../img/Profissoes/EDFS.png');
    margin-bottom: -20px;
    height: 112.804px;
    width: 112.804px;
    background-repeat: no-repeat;
    background-position: center;
}

#ENGAMBFLO{
    background-image: url('../img/Profissoes/ENGAMBFLO.png');
    margin-bottom: -15px;
    height: 108.476px;
    width: 117.4px;
    background-repeat: no-repeat;
    background-position: center;
}

#MED{
    background-image: url('../img/Profissoes/MED.png');
    margin-bottom: -15px;
    height: 119.845px;
    width: 121.362px;
    background-repeat: no-repeat;
    background-position: center;
}

#OBS{
    background-image: url('../img/Profissoes/OBS.png');
    margin-bottom: -16px;
    height: 121.234px;
    width: 121.234px;
    background-repeat: no-repeat;
    background-position: center;
}

#SI{
    background-image: url('../img/Profissoes/SI.png');
    
    height: 95.5077px;
    width: 119.385px;
    background-repeat: no-repeat;
    background-position: center;
}

#Matematica{
    background-image: url('../img/Profissoes/MAT.png');
    margin-bottom: -16px;
    height: 118.074px;
    width: 118.074px;
    background-repeat: no-repeat;
    background-position: center;
}

#Economia{
    background-image: url('../img/Profissoes/Economia.png');
    margin-bottom: -15px;
    height: 118.364px;
    width: 118.364px;
    background-repeat: no-repeat;
    background-position: center;
}

#CienciasSociais{
    background-image: url('../img/Profissoes/CienciasSociais.png');
    margin-bottom: -7px;
    height: 115.702px;
    width: 98.6362px;
    background-repeat: no-repeat;
    background-position: center;
}

#Geografia{
    background-image: url('../img/Profissoes/Geografia.png');

    height: 123.526px;
    width: 107.313px;
    background-repeat: no-repeat;
    background-position: center;
}

#Cosmetica{
    background-image: url('../img/Profissoes/Cosmetica.png');
    margin-bottom: -10px;
    height: 127.442px;
    width: 125.371px;
    background-repeat: no-repeat;
    background-position: center;
}

#Design{
    background-image: url('../img/Profissoes/Design.png');
    margin-bottom: -5px;
    height: 111.649px;
    width: 113.928px;
    background-repeat: no-repeat;
    background-position: center;
}

#Contabilidade{
    background-image: url('../img/Profissoes/Contabilidade.png');
    margin-bottom: 8px;
    height: 113.357px;
    width: 110.948px;
    background-repeat: no-repeat;
    background-position: center;
}

#JornalismoAzul{
    background-image: url('../img/Profissoes/JornalismoAzul.png');
    
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

#Historia{
    background-image: url('../img/Profissoes/Historia.png');
    
    height: 118.207px;
    width: 105.352px;
    background-repeat: no-repeat;
    background-position: center;
}

#ArtesCenicas{
    background-image: url('../img/Profissoes/ArtesCenicas.png');
   
    height: 108.143px;
    width: 129.902px;
    background-repeat: no-repeat;
    background-position: center;
}

#Biologia{
    background-image: url('../img/Profissoes/Biologia.png');

    height: 113.123px;
    width: 113.123px;
    background-repeat: no-repeat;
    background-position: center;
}

#ADMPublica{
    background-image: url('../img/Profissoes/ADMPublica.png');

    height: 118.207px;
    width: 122.02px;
    background-repeat: no-repeat;
    background-position: center;
}

#PPAzul{
    background-image: url('../img/Profissoes/PPAzul.png');

    height: 120.949px;
    width: 118.984px;
    background-repeat: no-repeat;
    background-position: center;
}

#GPPAzul{
    background-image: url('../img/Profissoes/GPPAzul.png');
    margin-bottom: -10px;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
}

#Pedagogia{
    background-image: url('../img/Profissoes/Pedagogia.png');

    height: 123.467px;
    width: 123.467px;
    background-repeat: no-repeat;
    background-position: center;
}

#EngCivil{
    background-image: url('../img/Profissoes/EngCivil.png');

    height: 123.467px;
    width: 107.879px;
    background-repeat: no-repeat;
    background-position: center;
}

#Geologia{
    background-image: url('../img/Profissoes/geologia.png');

    height: 116.418px;
    width: 120.484px;
    background-repeat: no-repeat;
    background-position: center;
}

#Geociencias{
    background-image: url('../img/Profissoes/Geociencia.png');
    margin-bottom: 10px;
    height: 118.085px;
    width: 118.085px;
    background-repeat: no-repeat;
    background-position: center;
}

#UFABC{
    background-image: url('../img/Profissoes/UFABC.png');
    margin-bottom: 15px;
    height: 109.026px;
    width: 81.7697px;
    background-repeat: no-repeat;
    background-position: center;
}

.faleComAGente {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.faleComAGente p {
    color: white;
    font-weight: bold;
}
   
/* ------------- Fale Conosco ------------- */

.fineLine {
    display: flex;
    margin: auto;
    background-color: white;
    height: 1px;
    width: 50vw;
    margin: 100px auto 100px auto;
}

.logoBranco {
    background-image: url('../img/logobranco.PNG');
    background-size: cover;
    width: 200px;
    height: 200px;
}

.redesSociais {
    display: flex;
    justify-content: space-around;
}

.ícones {
    margin: 0px 10px 30px 10px;
    max-width: 50px;
    max-height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.faleComAGente p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: 3px;
}

.final {
    height: 30px;
    width: 100vw;
}
/* ------------------------------------------ */